@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.bo {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url(https://static.vecteezy.com/system/resources/previews/004/595/585/original/backpacker-girl-confusing-choose-way-in-road-signboard-metaphor-advertisment-for-travel-and-trip-guidance-symbol-in-cartoon-illustration-isolated-in-white-background-vector.jpg);
  background-size: cover;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.bo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.nav-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-options a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease, transform 0.3s ease;
  border: 1px solid transparent;
  padding: 8px 15px;
  border-radius: 20px;
}

.nav-options h1 {
  margin: 0;
  color: #fff;
  padding-right: 350px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-right: 30px; */
}

.nav-options a:hover,
.nav-options a.active {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  transform: scale(1.1);
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.head{
  color: #f1f1f1;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.head h1{
  font-weight: bolder;
  /* margin-right: 100px; */
  padding: 20px;
  font-size: 50px;
}

.head p{
  font-weight: 700;
  /* font-size: medium; */
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.contacts-info {
  width: 50%;
  margin-left: 350px;
  margin-bottom: 100px;
}

.contact-info-item {
  display: flex;
  padding: 10px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
}

.circle-imgs {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
  margin-top: 80px;
  /* margin */
   /* Adjust the margin as needed */
}

.circle-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.container {

  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

}